.footer {
    align-items: center;
    background-color: #f9edef;
    display: flex;
    height: 100px;
    width: 100%;
  }

.footer a {
    color: #cdb8fa;
    cursor: pointer;
    font-size: 16px;
    padding-left: 30px;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }
